{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

    {% load crispy_forms_tags %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12 ">
                <div class="card">
                    <div class="card-body">
                        
                        <h2>Registro de datos</h2>
                        <h5>Recuerde que los envios son solo dentro de la comuna</h3>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{form | crispy}}
                            <a class="btn btn-primary" href="{% url 'home' %}">Inicio</a>   |
                            <a class="btn btn-primary" href="{% url 'login' %}">Iniciar Session</a>
                            <input class="btn btn-success float-right" type="submit" value="Registrar">

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}