<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MusicPRO</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
   <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
   <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')
	
	</script>
  {% block css %}
  {% endblock %}

  {% block head %}
  {% endblock %}
</head>

<body id="intro" class="bg-image shadow-2-strong">
  <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/img/LOGITO2.png' %}" height="60" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for f in familia %}
            <a class="dropdown-item" href="#">{{ f.1 }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacto' %}">Contáctanos</a>
        </li>
        {% if user.cargo.id == 3 %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'empleado' %}">Área Empleados</a>
        </li>
        {% endif %}
        {% if user.cargo.id == 4 %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'provedor' %}">Área Proveedores</a>
        </li>
        {% endif %}
        {% if user.cargo.id == 2 %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'administrador' %}">Área Administración</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usuario' user.id %}">Usuario: {{ user.cargo |title }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
        </li>
        {% endif %}
        <li class="nav-item">
          
        </li>
      </ul>
      <a class="nav-link d-flex align-items-center" href="{% url 'cart' %}">
        <img id="cart-icon" style="width:20px;" src="{% static 'images/cart.png' %}" alt="carrito" />
        <p id="cart-total" class="float-right">{{importe_cant_carro}}</p>
      </a>

    </div>
  </nav>

  <div class="contenedorprincipal d-flex">
  {% block contenido %}

  {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

  {% if messages %}
      {% for m in messages %}
        <script>
          Swal.fire(

              "Excelente",
              "{{m}}",
              "success"
          )


        </script>
      {% endfor %}
    {% endif %}
  {% block js %}
 

  {% endblock %}
  <footer class="text-center text-lg-start">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-twitter"></i>
      </button>
    </div>

<!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021
      <a class="text-white" href="{% url 'home' %}">MusicPRO</a>
    </div>
<!-- Copyright -->
</footer>
</body>

</html>


