{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}

<div class="container">
    <h2>Su compra esta en proceso</h2>
         <div class="card-body">
            <h4>Gracias por preferirnos</h4>
        </div>

</div>


{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
{% endblock %}