@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil+Display&family=Comfortaa:wght@300&family=Fjalla+One&family=Quicksand&family=Roboto:wght@100&display=swap');

* {
	font-family: 'Comfortaa', cursive;
    margin:0;
    padding:0;
}
#intro{
	background-image: url('../images/img/fondo.png');
	background-size: cover;
    background-color: darkgray;
	background-repeat: repeat;
}
nav.navbar{
    background-color: rgba(0, 0, 0,0.65);
	box-shadow: 0px 3px 15px 2px rgba(0,0,0,1);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,0.8);
	color: white;
}
div.partejumbo {
    background-image: url('../img/guitarrafondo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 25px;
    padding-top: 25px;
    color:white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
a.btn.btn-lg {
    background-color: rgb(255,255,255,0.2);
    color: white;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 1);
    font-size: 15px;
}
h1.titulo {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 60px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}
hr.my-4{
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
}
p.lead{
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}
p.medio{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}

div.contenedorprincipal{
	height: fit-content;
	padding: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,0.8);
	color: white;
	box-shadow: 0px 3px 15px 2px rgba(0,0,0,1);
    border-radius: 25px;
}
div.card{
    background-color: rgba(0, 0, 0,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 25px;
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,1);
}
div.card-body{
    width: 70%;
}
div.row{
	width: 100%;
}
div.shipping-info{
	width: 40%;
	background-color: rgb(33, 33, 33);
	padding: 30px;
	color: whitesmoke;
	border-radius: 25px;
	border-color: rgba(0,0,0,0.8);
	border-style: solid;
	border-width: 1px;
}
div.form-control-lg{
	width: auto;
}
div.shipping-enfo{
	width: 55%;
	margin-left: 5%;
	background-color: rgb(33, 33, 33);
	padding: 30px;
	color: whitesmoke;
	border-radius: 25px;
	border-color: rgba(0,0,0,0.8);
	border-style: solid;
	border-width: 1px;
}
img.card-img-top{
    margin-top: 10px;
    width: 75%;
}

/*FOOTER*/
footer{
	background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 1);
    width: 80%;
	margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 0%;
    opacity: 0.9;
	position: static;
	bottom:0px;
}
button.btn.btn-primary.btn-lg.btn-floating.mx-2{
    background-color: #2E3134;
    color: white;
    border-color: transparent;
}
button.btn.btn-primary.btn-lg.btn-floating.mx-2:hover{
    color: white;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    border-color: transparent;
}

/*FIN FOOTER*/

#productitoseparado{
	background-color: rgb(33, 33, 33);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,0.8);
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.8);
    color: white;
	padding: 10px;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:1px;
	margin-right:1px;
}
.thumbnail{
	width: 100%;
	height: 300px;
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: #7c42dd;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}
#carritito{
	background-color: rgb(33, 33, 33);
	padding: 30px;
	color: whitesmoke;
	border-radius: 25px;
	border-color: rgba(0,0,0,0.8);
	border-style: solid;
	border-width: 1px;
	
}
#cantidadnumero{
	margin: 0px;
	padding: 0px;
}
a.chg-quantity.update-cart{
	color: #7c42dd;
	margin-left: 5px;
	margin-right: 5px;
}
.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

a.btn.btn-outline-primary{
	border-color: transparent;
	background-color: #7c42dd;
	color: white;
}
a.btn.btn-outline-primary:hover{
	border-color: transparent;
	background-color: #7c42dd;
	color: white;
	box-shadow: inset 0px 0px 10px 3px rgba(255,255,255,0.3);
}
#form-button{
	border-color: transparent;
	background-color: #7c42dd;
	color: white;
}
#form-button:hover{
	border-color: transparent;
	background-color: #7c42dd;
	color: white;
	box-shadow: inset 0px 0px 10px 3px rgba(255,255,255,0.3);
}
button.btn.btn-outline-primary{
	border-color: transparent;
	background-color: #7c42dd;
	color: white;
}
button.btn.btn-outline-primary:hover{
	border-color: transparent;
	background-color: #7c42dd;
	color: white;
	box-shadow: inset 0px 0px 10px 3px rgba(255,255,255,0.3);
}

#nombreproducto{
	margin-top:15px;
	font-weight: lighter;
}
#marcaproducto{
	margin-bottom:15px;
	font-weight: lighter;
}
a.btn.btn-outline-secondary{
	border-color: transparent;
	background-color: rgb(65, 65, 65);
	color: white;
}
a.btn.btn-outline-secondary:hover{
	border-color: transparent;
	background-color: rgb(65, 65, 65);
	color: white;
	box-shadow: inset 0px 0px 10px 3px rgba(255,255,255,0.3);
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;

}
br{
	color:black;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}